/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 9, 2023, 7:29:20 AM
    Author     : admin
*/

VBox {
    -fx-background-color: lightblue;
    -fx-font-family: Tahoma;
    -fx-padding: 8;
    -fx-alignment: CENTER;
}
HBox {
    -fx-spacing: 8;
    -fx-padding: 3;
    -fx-vertical-alignment: CENTER;
}
HBox RadioButton {
    -fx-margin-top: 5;
    -fx-background-color: transparent;
    -fx-font-weight: Bold;
    -fx-text-vertical-alignment: Bottom;
}
HBox RadioButton .radio {
    
    -fx-background-color: #ffffff;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-padding: 4px;
}
HBox RadioButton:selected .radio {
    -fx-background-color: #666666;
    -fx-border-color: #d2d2d2;
}
HBox TextField {
    -fx-pref-width: 220;
    -fx-background-color: #f2f2f2;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}
Label.Subject {
    -fx-font-size: 30;
    -fx-text-fill: linear-gradient(from 28.91% 17.5355% to 28.436% 73.9336%, #255cbc 0.0%, #c62de1 100.0%);
    -fx-stroke: gold;
    -fx-stroke-width: 5;
}
Button {
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f1f1f1);
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-padding: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
}
Button:hover {
    -fx-background-color: linear-gradient(#ffffff, #8c8c8c);
}